@{
    ViewData["Title"] = "¡Aplicación de adivinanzas!";
}

<div class="text-center">
    <h1 class="display-4">Aplicación de adivinanzas</h1>
    <p>Disfruta de las adivinanzas más divertidas y curiosas.</p>
</div>
